<div class="modal fade" id="modal-processamento" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="staticBackdropLabel">Aguarde o processamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" hidden>
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body text-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>
</div>