@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}

html {
    height: 100vh;
}

body {
    background-color: #f6f6f6;
    min-height: 100vh;
}

th {
    background-color: white;
}

td {
    color: white;
}